div
	h4.impact How to play
	ul
		li Requires #[a(href='https://dustkidblog.wordpress.com/2016/11/19/dustmod-has-updated/') Dustmod] or #[a(href="https://dustkidblog.wordpress.com/2015/08/11/dustkid-setup/") Dustkid] integration
		li Goals automatically complete using replays

div
	h4.impact General info
	p Win condition: Bingos consist of achieving all goals in a row, column or diagonal. First to get the specified number of bingos or goals wins.
	p Ties are broken by bingos (if bingos are the win condition) then goals.
	p Access New Game and New Game + save file options in the Dustmod menu via Tools > Save > Reset Save.
	p A default normal bingo can take 5-10 minutes to complete, but bigger boards and requiring more, harder goals can exceed 45-60 minutes.
