extends layout

block js
	script(src="js/index.js")

block content
	div.row
		h2 Dustforce Bingo

	div.row
		div.col
			include rules.pug

		div.col
			h4 Options

			div
				div Save file:
				select#save.session
					option(value="newgame") New Game
					option(value="newgameplus") New Game+
			div
				div Size:
				select#size.session
					option(value="3") 3 by 3
					option(value="5") 5 by 5
			div
				div Difficulty:
				select#difficulty.session
					option(value="4") Easy
					option(value="3" selected) Normal
					option(value="2") Hard
					option(value="1") Very hard
			div
				div Length:
				select#length.session
					option(value="3") Fast
					option(value="2" selected) Normal
					option(value="1") Any
			div
				input#lockout.session(type="checkbox" checked)
				label(for="lockout") Lockout
			div
				div First to:
				select#bingo_count.session
					each val, i in Array(25)
						option(value=i+1 class='option' + (i+1))= i+1
				select#bingo_count_type.session
					option(value="bingo") Bingos
					option(value="card") Cards

			div
				h4 Advanced Goal Options

				button#show_adv.btn.btn-lg(data-toggle="collapse" data-target="#goals_advanced_div") Show

				div#goals_advanced_div.collapse
					ul
						li
							input#characters.session(   type="checkbox" checked)
							label(for="characters") Allow goals to require characters
						li
							input#apples.session(       type="checkbox" checked)
							label(for="apples") Include apples
						li
							input#tutorials.session(    type="checkbox") 
							label(for="tutorials") Include tutorials
						li
							input#difficults.session(   type="checkbox") 
							label(for="difficults") Include difficults
						li
							input#yottass.session(      type="checkbox") 
							label(for="yottass") Include Yotta SS 
						li
							input#lowdash.session(      type="checkbox")
							label(for="lowdash") Low dash
						li
							input#lowjump.session(      type="checkbox")
							label(for="lowjump") Low jump
						li
							input#lowattack.session(    type="checkbox")
							label(for="lowattack") Low attack
						li
							input#lowdirection.session( type="checkbox") 
							label(for="lowdirection") Low direction
						li
							input#lowpercent.session(   type="checkbox")
							label(for="lowpercent") Low percent
						li
							input#somepercent.session(  type="checkbox")
							label(for="somepercent") Some percent

	div.row
		button#generate.btn.btn-primary.btn-lg.btn-block Generate seed