extends layout

block js
	script= "const error = \'" + error + "';"
	script(src="/bingo/js/index.js")

block content
	div.floater
		div.alert.alert-danger(role="alert", style="display:none;")
			div.alert-text
			button.close(type="button", aria-label="Close")
				span(aria-hidden="true") &times;

	div.row
		div.col-xl-4
			div
				p Challenge yourself and race others with Dustforce bingos! Goals are randomly generated from unique options creating many new ways to play. If you're looking for people to race, join the #[a(href='https://discordapp.com/invite/0SkxtG7ddS6n2BCW') Dustforce Discord] and ask in the #races channel.

			include how.pug

		div.col-xl-8.noselect
			div.row
				div.col-xl-6
					h4 Bingo Options

					div.form-group
						div Size:
						select#size.session.form-control
							option(value="3") 3 by 3
							option(value="5") 5 by 5
					div.form-group
						div Difficulty:
						select#difficulty_raw.session.form-control
							option(value="Easy") Easy
							option(value="Normal" selected) Normal
							option(value="Hard") Hard
							option(value="Very Hard") Very Hard
					div.form-group
						div Length:
						select#length_raw.session.form-control
							option(value="Fast") Fast
							option(value="Normal" selected) Normal
							option(value="Long") Long
							option(value="Full Game") Full Game

					div.form-group
						div Save file:
							div.tt_question
								div.color-circle-tooltip(data-toggle="tooltip" data-placement="top" title="New Game requires levels to be unlocked with keys.")
									div(style="position: relative; top: -1px") ?
						select#save.session.form-control
							option(value="New Game") New Game
							option(value="New Game +") New Game +

					div.form-group.checkbox
						label(style="min-width: 100px")
							input#lockout.session(type="checkbox" checked)
							<img id="check_lockout" class="checkbox_img icon" src="/bingo/img/ready_true.png" />
							p Lockout

					div.form-group.row
						div.col-12
							div First to:
						div.col-sm-5
							select#bingo_count.session.form-control
								each val, i in Array(25)
									option(value=i+1 class='option' + (i+1))= i+1
						div.col-sm-7
							select#bingo_count_type.session.form-control
								option(value="bingo") Bingos
								option(value="goal") Goals

				div.col-xl-6
					h4 Goal Options

					div#goals_advanced_div
						div.row 
							div.col-xl-6.first
								div.checkbox
									label
										input#beat.session(       type="checkbox" checked)
										<img id="check_beat" class="checkbox_img icon" src="/bingo/img/ready_true.png" />
										<img class="icon" src="http://dustkid.com/static/iconVacuum.png" />
										p Beat levels
								div.checkbox
									label
										input#ss.session(       type="checkbox" checked)
										<img id="check_ss" class="checkbox_img icon" src="/bingo/img/ready_true.png" />
										<img class="icon" src="/bingo/img/iconSweep.png" />
										p SS levels
								div.checkbox
									label
										input#keys.session(       type="checkbox" checked)
										<img id="check_keys" class="checkbox_img icon" src="/bingo/img/ready_true.png" />
										<img class="icon" src="/bingo/img/iconKey.png" />
										p Get keys
								div.checkbox
									label
										input#tutorials.session(    type="checkbox") 
										<img id="check_tutorials" class="checkbox_img icon" src="/bingo/img/ready_false.png" />
										<img class="character" src="http://dustkid.com/static/iconDustman.png" />
										p Tutorials
								div.checkbox
									label
										input#difficults.session(   type="checkbox") 
										<img id="check_difficults" class="checkbox_img icon" src="/bingo/img/ready_false.png" />
										<img class="icon" src="/bingo/img/iconDonger.png" />
										p Difficults
								div.checkbox
									label
										input#yottass.session(      type="checkbox") 
										<img id="check_yottass" class="checkbox_img icon" src="/bingo/img/ready_false.png" />
										<img class="icon" src="/bingo/img/iconDonger.png" />
										p Yotta SS
								div.checkbox
									label
										input#sfinesse.session(     type="checkbox")
										<img id="check_sfinesse" class="checkbox_img icon" src="/bingo/img/ready_false.png" />
										<img class="icon" src="/bingo/img/iconS.png" />
										p S finesse
								div.checkbox
									label
										input#scomplete.session(     type="checkbox")
										<img id="check_scomplete" class="checkbox_img icon" src="/bingo/img/ready_false.png" />
										<img class="icon" src="/bingo/img/iconS.png" />
										p S completion
								div.checkbox
									label
										input#bcomplete.session(     type="checkbox")
										<img id="check_bcomplete" class="checkbox_img icon" src="/bingo/img/ready_false.png" />
										<img class="icon" src="http://dustkid.com/static/iconSome.png" />
										p B completion
								div.checkbox
									label
										input#dcomplete.session(     type="checkbox")
										<img id="check_dcomplete" class="checkbox_img icon" src="/bingo/img/ready_false.png" />
										<img class="icon" src="/bingo/img/iconLow.png" />
										p D completion
							div.col-xl-6.second
								div.checkbox
									label
										input#characters.session(   type="checkbox" checked)
										<img id="check_characters" class="checkbox_img icon" src="/bingo/img/ready_true.png" />
										<img class="icon" src="http://dustkid.com/static/iconAll.png" />
										p Characters
									div.tt_question
										div.color-circle-tooltip(data-toggle="tooltip" data-placement="top" title="Goals can require you to play a specific character")
											div(style="position: relative; top: -1px") ?
								div.checkbox
									label
										input#apples.session(       type="checkbox" checked)
										<img id="check_apples" class="checkbox_img icon" src="/bingo/img/ready_true.png" />
										<img class="icon" src="http://dustkid.com/static/iconApple.png" />
										p Apples
								div.checkbox
									label
										input#nosuper.session(       type="checkbox")
										<img id="check_nosuper" class="checkbox_img icon" src="/bingo/img/ready_false.png" />
										<img class="icon" src="http://dustkid.com/static/iconNoAttack.png" />
										p Restrict supers
									div.tt_question
										div.color-circle-tooltip(data-toggle="tooltip" data-placement="top" title="Some level goals can forbid supers")
											div(style="position: relative; top: -1px") ?
								div.checkbox
									label
										input#lowdash.session(       type="checkbox")
										<img id="check_lowdash" class="checkbox_img icon" src="/bingo/img/ready_false.png" />
										<img class="icon" src="http://dustkid.com/static/iconNoDash.png" />
										p Low dash
								div.checkbox
									label
										input#lowjump.session(       type="checkbox")
										<img id="check_lowjump" class="checkbox_img icon" src="/bingo/img/ready_false.png" />
										<img class="icon" src="http://dustkid.com/static/iconNoJump.png" />
										p Low jump
								div.checkbox
									label
										input#lowattack.session(     type="checkbox")
										<img id="check_lowattack" class="checkbox_img icon" src="/bingo/img/ready_false.png" />
										<img class="icon" src="http://dustkid.com/static/iconNoAttack.png" />
										p Low attack
									div.tt_question
										div.color-circle-tooltip(data-toggle="tooltip" data-placement="top" title="Use fewest attacks possible (light: 1, heavy: 3, no supers)")
											div(style="position: relative; top: -1px") ?
								div.checkbox
									label
										input#lowdirection.session(  type="checkbox") 
										<img id="check_lowdirection" class="checkbox_img icon" src="/bingo/img/ready_false.png" />
										<img class="icon" src="http://dustkid.com/static/iconNoDirection.png" />
										p Low direction
								div.checkbox
									label
										input#genocide.session(      type="checkbox")
										<img id="check_genocide" class="checkbox_img icon" src="/bingo/img/ready_false.png" />
										<img class="icon" src="http://dustkid.com/static/iconGenocide.png" />
										p Genocide
									div.tt_question
										div.color-circle-tooltip(data-toggle="tooltip" data-placement="top" title="Kill all enemies on specific levels")
											div(style="position: relative; top: -1px") ?
								div.checkbox
									label
										input#unload.session(        type="checkbox")
										<img id="check_unload" class="checkbox_img icon" src="/bingo/img/ready_false.png" />
										<img class="icon" src="http://dustkid.com/static/icon404.png" />
										p Unload
									div.tt_question
										div.color-circle-tooltip(data-toggle="tooltip" data-placement="top" title="Specific level goals can require unload or out of bounds (Dustmod > Mods > Enable Unload%)")
											div(style="position: relative; top: -1px") ?

			div.row
				div.col-xl-6
					button#generate.btn.btn-lg.btn-block Generate session
	div.row
		div#session_container
			div.left-click(style="display:none;") <
			div.right-click(style="display:none;") >