extends layout

block js
	script(src="/js/index.js")

block content
	div.row
		div.col-md-4
			include how.pug

		div.col-md-4
			h4 Bingo Options

			div.form-group
				div Save file:
				select#save.session.form-control
					option(value="New Game") New Game
					option(value="New Game +") New Game +

			div.form-group
				div Size:
				select#size.session.form-control
					option(value="3") 3 by 3
					option(value="5") 5 by 5
			div.form-group
				div Difficulty:
				select#difficulty_raw.session.form-control
					option(value="Easy") Easy
					option(value="Normal" selected) Normal
					option(value="Hard") Hard
					option(value="Very Hard") Very Hard
			div.form-group
				div Length:
				select#length_raw.session.form-control
					option(value="Fast") Fast
					option(value="Normal" selected) Normal
					option(value="Long") Long
					option(value="Full Game") Full Game

			div.form-group
				input#lockout.session(type="checkbox" checked)
				label(for="lockout") Lockout

			div.form-group.row
				div.col-12
					div First to:
				div.col-sm-5
					select#bingo_count.session.form-control
						each val, i in Array(25)
							option(value=i+1 class='option' + (i+1))= i+1
				div.col-sm-7
					select#bingo_count_type.session.form-control
						option(value="bingo") Bingos
						option(value="card") Cards

		div.col-md-4
			h4 Advanced Goal Options

			div#goals_advanced_div
				div.checkbox
					label
						input#characters.session(   type="checkbox" checked)
						<img class="icon" src="http://dustkid.com/static/iconAll.png" /> Allow goals to require characters
				div.checkbox
					label
						input#apples.session(       type="checkbox" checked)
						<img class="icon" src="http://dustkid.com/static/iconApple.png" /> Include apples
				div.checkbox
					label
						input#tutorials.session(    type="checkbox") 
						<img class="character" src="http://dustkid.com/static/iconDustman.png" /> Include tutorials
				div.checkbox
					label
						input#difficults.session(   type="checkbox") 
						<img class="icon" src="/img/iconDonger.png" /> Include difficults
				div.checkbox
					label
						input#yottass.session(      type="checkbox") 
						<img class="icon" src="/img/iconDonger.png" /> Include Yotta SS
				div.checkbox
					label
						input#sfinesse.session(     type="checkbox")
						<img class="icon" src="/img/iconS.png" /> Include S finesse
				div.checkbox
					label
						input#somepercent.session(  type="checkbox")
						<img class="icon" src="http://dustkid.com/static/iconSome.png" /> Include Some percent
				div.checkbox
					label
						input#lowpercent.session(   type="checkbox")
						<img class="icon" src="/img/iconLow.png" /> Include Low percent
				div.checkbox
					label
						input#lowdash.session(      type="checkbox")
						<img class="icon" src="http://dustkid.com/static/iconNoDash.png" /> Include Low dash
				div.checkbox
					label
						input#lowjump.session(      type="checkbox")
						<img class="icon" src="http://dustkid.com/static/iconNoJump.png" /> Include Low jump
				div.checkbox
					label
						input#lowattack.session(    type="checkbox")
						<img class="icon" src="http://dustkid.com/static/iconNoAttack.png" /> Include Low attack
				div.checkbox
					label
						input#lowdirection.session( type="checkbox") 
						<img class="icon" src="http://dustkid.com/static/iconNoDirection.png" /> Include Low direction
		

	div.row
		div.col-md-2
		div.col-md-8
			button#generate.btn.btn-lg.btn-block Generate session