extends layout

block js
	script(src="/js/index.js")

block content
	div.row
		div.col-md-4
			include how.pug

		div.col-md-8.noselect
			div.row
				div.col-md-6
					h4 Bingo Options

					div.form-group
						div Size:
						select#size.session.form-control
							option(value="3") 3 by 3
							option(value="5") 5 by 5
					div.form-group
						div Difficulty:
						select#difficulty_raw.session.form-control
							option(value="Easy") Easy
							option(value="Normal" selected) Normal
							option(value="Hard") Hard
							option(value="Very Hard") Very Hard
					div.form-group
						div Length:
						select#length_raw.session.form-control
							option(value="Fast") Fast
							option(value="Normal" selected) Normal
							option(value="Long") Long
							option(value="Full Game") Full Game

					div.form-group
						div Save file:
							div.tt_question
								div.color-circle-tooltip(data-toggle="tooltip" data-placement="top" title="New Game requires levels to be unlocked with keys.")
									div(style="position: relative; top: -1px") ?
						select#save.session.form-control
							option(value="New Game") New Game
							option(value="New Game +") New Game +

					div.form-group.checkbox
						label(style="min-width: 100px")
							input#lockout.session(type="checkbox" checked)
							<img id="check_lockout" class="checkbox_img icon" src="/img/ready_true.png" />
							p Lockout

					div.form-group.row
						div.col-12
							div First to:
						div.col-sm-5
							select#bingo_count.session.form-control
								each val, i in Array(25)
									option(value=i+1 class='option' + (i+1))= i+1
						div.col-sm-7
							select#bingo_count_type.session.form-control
								option(value="bingo") Bingos
								option(value="goal") Goals

				div.col-md-6
					h4 Advanced Goal Options

					div#goals_advanced_div
						div.checkbox
							label
								input#characters.session(   type="checkbox" checked)
								<img id="check_characters" class="checkbox_img icon" src="/img/ready_true.png" />
								<img class="icon" src="http://dustkid.com/static/iconAll.png" />
								p Characters
							div.tt_question
								div.color-circle-tooltip(data-toggle="tooltip" data-placement="top" title="Goals can require you to play a specific character")
									div(style="position: relative; top: -1px") ?
						div.checkbox
							label
								input#apples.session(       type="checkbox" checked)
								<img id="check_apples" class="checkbox_img icon" src="/img/ready_true.png" />
								<img class="icon" src="http://dustkid.com/static/iconApple.png" />
								p Apples
						div.checkbox
							label
								input#tutorials.session(    type="checkbox") 
								<img id="check_tutorials" class="checkbox_img icon" src="/img/ready_false.png" />
								<img class="character" src="http://dustkid.com/static/iconDustman.png" />
								p Tutorials
						div.checkbox
							label
								input#difficults.session(   type="checkbox") 
								<img id="check_difficults" class="checkbox_img icon" src="/img/ready_false.png" />
								<img class="icon" src="/img/iconDonger.png" />
								p Difficults
						div.checkbox
							label
								input#yottass.session(      type="checkbox") 
								<img id="check_yottass" class="checkbox_img icon" src="/img/ready_false.png" />
								<img class="icon" src="/img/iconDonger.png" />
								p Yotta SS
						div.checkbox
							label
								input#sfinesse.session(     type="checkbox")
								<img id="check_sfinesse" class="checkbox_img icon" src="/img/ready_false.png" />
								<img class="icon" src="/img/iconS.png" />
								p S finesse
						div.checkbox
							label
								input#scomplete.session(     type="checkbox")
								<img id="check_scomplete" class="checkbox_img icon" src="/img/ready_false.png" />
								<img class="icon" src="/img/iconS.png" />
								p S completion
						div.checkbox
							label
								input#bcomplete.session(  type="checkbox")
								<img id="check_bcomplete" class="checkbox_img icon" src="/img/ready_false.png" />
								<img class="icon" src="http://dustkid.com/static/iconSome.png" />
								p B completion
						div.checkbox
							label
								input#dcomplete.session(   type="checkbox")
								<img id="check_dcomplete" class="checkbox_img icon" src="/img/ready_false.png" />
								<img class="icon" src="/img/iconLow.png" />
								p D completion
						div.checkbox.invisible(style="max-height: 0px")
							label
								input#lowdash.session(      type="checkbox")
								<img id="check_lowdash" class="checkbox_img icon" src="/img/ready_false.png" />
								<img class="icon" src="http://dustkid.com/static/iconNoDash.png" />
								p Low dash
						div.checkbox.invisible(style="max-height: 0px")
							label
								input#lowjump.session(      type="checkbox")
								<img id="check_lowjump" class="checkbox_img icon" src="/img/ready_false.png" />
								<img class="icon" src="http://dustkid.com/static/iconNoJump.png" />
								p Low jump
						div.checkbox.invisible(style="max-height: 0px")
							label
								input#lowattack.session(    type="checkbox")
								<img id="check_lowattack" class="checkbox_img icon" src="/img/ready_false.png" />
								<img class="icon" src="http://dustkid.com/static/iconNoAttack.png" />
								p Low attack
							div.tt_question
								div.color-circle-tooltip(data-toggle="tooltip" data-placement="top" title="Use fewest attacks possible (light: 1, heavy: 3, no supers)")
									div(style="position: relative; top: -1px") ?
						div.checkbox.invisible(style="max-height: 0px")
							label
								input#lowdirection.session( type="checkbox") 
								<img id="check_lowdirection" class="checkbox_img icon" src="/img/ready_false.png" />
								<img class="icon" src="http://dustkid.com/static/iconNoDirection.png" />
								p Low direction
		

			div.row
				div.col-md-6
					button#generate.btn.btn-lg.btn-block Generate session