extends layout

block js
	script(src="js/index.js")

block content
	div
		div
			h4.uppercase BINGO RULES

			div
				div Save file:
				select#save.session
					option(value="newgame") NG
					option(value="newgameplus") NG+
			div
				div Size:
				select#size.session
					option(value="3") 3 by 3
					option(value="5") 5 by 5
			div 
				div
					input#lockout.session(type="checkbox" checked)
					label(for="lockout") Lockout
			div
				div First to:
				select#bingo_count.session
					each val, i in Array(25)
						option(value=i+1 class='option' + (i+1))= i+1
				select#bingo_count_type.session
					option(value="bingo") Bingos
					option(value="card") Cards

		div
			h4 Advanced Goal Options

			button#show_adv(type="button") Show

			div#goals_advanced
				div
					input#characters.session(   type="checkbox" checked)
					label(for="characters") Allow goals to require characters
				div
					input#apples.session(       type="checkbox" checked)
					label(for="apples") Include apples
				div
					input#difficults.session(   type="checkbox") 
					label(for="difficults") Include difficults
				div
					input#yottass.session(      type="checkbox") 
					label(for="yottass") Include Yotta SS 
				div 
					input#lowdash.session(      type="checkbox")
					label(for="lowdash") Low dash
				div 
					input#lowjump.session(      type="checkbox")
					label(for="lowjump") Low jump
				div 
					input#lowattack.session(    type="checkbox")
					label(for="lowattack") Low attack
				div 
					input#lowdirection.session( type="checkbox") 
					label(for="lowdirection") Low direction
				div 
					input#lowpercent.session(   type="checkbox")
					label(for="lowpercent") Low percent
				div 
					input#somepercent.session(   type="checkbox")
					label(for="somepercent") Some percent

		div
			h2 Generate seed
			button#generate(type="button") Generate