doctype html
html
	head
		title Dustforce Bingo

		link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css", integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb", crossorigin="anonymous")
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/custom.css')
		
		link(rel='stylesheet', href='/css/style.css')
		block js

	body
		nav.navbar
			a.navlink(href="/") Home
			form#nav_seed_form.form-inline
				input#nav_seed.form_control(placeholder="Seed")
				button#nav_seed_button.btn.btn-primary Go

		div.container-fluid
			block content

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js", integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh", crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js", integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ", crossorigin="anonymous")
		script(src="/js/navbar.js")
		block js