doctype html
html
	head
		title Dustforce Bingo

		link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css", integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb", crossorigin="anonymous")
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/custom.css')

	body
		div#board_div
			- var sizeArray = new Array(parseInt(size) || 1)
			- var colClass = "col-" +  (size == 5 ? "fifth" : "third")
			div.bingo_behind
				each val, i in sizeArray
					div.row.margin_zero
						each val, j in sizeArray
							div(class=colClass)
								div.bingo_table_cell
									div.bingo_table_inner_cell

			div
				each val, i in sizeArray
					div.row
						div.col
							div.fake_bingo_cell
								if i == (size - 1) / 2
									div#fake_center
										h4(style="text-align: center; margin: auto") Waiting to receive board...

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js", integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh", crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js", integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ", crossorigin="anonymous")

		script= "const sessionId = \'" + session.id + "';"
		script(src="/socket/socket.io.min.js")
		script(src="/js/board.js")
		script(src="/js/popout.js")
