div
	h4.impact How to play
	ul
		li Requires dustmod or dustkid integration
		li Goals automatically complete using replays
		li Players start at the Nexus door
		li Level tomes and level editor are banned
		li Don't early exit (causes invalid replays)
		li Click goal cells to label privately

div
	h4.impact General info
	p Win condition: Bingos consist of achieving all goals in a row, column or diagonal. First to get the specified number of bingos or goals wins.
	p In lockout, each goal can only be achieved by one person. 
	p Ties are broken by bingos (if bingos are the win condition) then goals.
	p New Game requires levels to be unlocked with keys. New Game + begins with doors unlocked. Access in the Dustmod menu via Tools > Save > Reset Save.


	ul
		li Low attack: light = 1, heavy = 3, super not allowed
		li Low percent: collect lowest dust count possible
		li Some percent: beat a level with B completion
