div
	h4.impact How to play
	ul
		li Requires dustmod or dustkid integration
		li Goals automatically complete using replays
		li Start bingo from the reset save file location (on top of beginner tutorial)
		li Accessing levels from tomes is banned
		li Don't early exit (causes invalid replays)
		li Click goal cells to label privately

div
	h4.impact General info
	p Win condition: Bingos consist of achieving all goals in a row, column or diagonal. First to get the specified number of bingos or goals wins.
	p In lockout, each goal can only be achieved by one person. 
	p In the event of a tie, players are prioritized by most bingos (if bingos are the win condition) then most goals.
	p A New Game file requires players to unlock levels with keys. New Game+ begins with all doors unlocked. Accessible in Dustmod menu via Tools > Save > Reset Save.

	p Other notes:
	ul
		li Low attack: light = 1, heavy = 3, super not allowed
		li Low percent: how it works
		li Some percent: beat a level with B completion
