div
	h4 How to play
	ul
		li Requires dustmod or dustkid integration
		li Goals automatically complete using replays
		li Reset save file or enter Nexus when bingo starts (tbd)
		li Accessing levels from tomes is banned
		li Don't early exit (causes invalid replays)
		li Click goal cells to label privately

div
	h4 General info
	p Win condition: Bingos consist of achieving all goals in a row, column or diagonal. First to get the specified number of bingos or goals wins.
	p If lockout is selected, each goal can only be achieved by one person. Enabling lockout also creates tiebreak scenarios. In that case, players are prioritized by most bingos (if bingos are the win condition) then most goals.
	p A New Game file requires players to unlock levels with keys. New Game+ begins with all doors unlocked. Accessible in Dustmod menu via Tools > Save > Reset Save.
