extends layout

block js
	script= "const sessionId = \'" + session.id + "';"
	script(src="/socket/socket.io.min.js")
	script(src="/js/board.js")
	script(src="/js/session.js")

block content
	div#user_div
		button#spectate.btn.btn-primary Spectate

		div#user_buttons_div
			input#username(placeholder="Username")
			button#join.btn.btn-primary Join
			button#ready.btn.btn-primary Ready

	div#board_div
		button#start.btn.btn-primary.btn-lg.btn-block start
		div#countdown_div

	div#players_table_div

	div
		h4 Rules
		ul
			li Save file type here
			li Win condition here
			li Lockout on/off
			li Enabled options here

		include rules.pug