:root {
	--darkblue: #1F355E;
	--midblue: #3F63BB;
	--blue: #819AD3;
    --indigo: #6610f2;
    --purple: #A66999;
    --pink: #DFBFBF;
    --red: #FD625E;
    --orange: #FE9666;
    --yellow: #F4D25A;
    --green: #98AC67;
    --white: #FFFFFF;
    --gray: #7F898A;
    --graydark: #343a40;
	--black: #1F271B;
}

.table-dark,
.table-dark > th,
.table-dark > td {
	background-color: var(--black);
	color: var(--white);
}

.col-fifth {
    position: relative;
    min-height: 1px;
    width: 20%;
    float: left;
}
