@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/Proxima Nova Reg.woff') format('woff'),
	   url('/fonts/Proxima Nova Reg.svg#font') format('svg'),
	   url('/fonts/Proxima Nova Reg.ttf') format('truetype'),
	   url('/fonts/Proxima Nova Reg.eot'),
	   url('/fonts/Proxima Nova Reg.eot?#iefix') format('embedded-opentype');
}
@font-face {
  font-family: 'Caracteres L1';
  src: url('/fonts/Caracteres-L1.ttf.woff') format('woff'),
       url('/fonts/Caracteres-L1.ttf.svg#Caracteres-L1') format('svg'),
	   url('/fonts/Caracteres-L1.ttf.eot'),
	   url('/fonts/Caracteres-L1.ttf.eot?#iefix') format('embedded-opentype');
       
}


.uppercase {
	font-size: 64px;
	font-family: 'Caracteres L1', Helvetica, Arial, sans-serif;
}

.lowercase {
	font-size:18px;
	font-family:'Proxima Nova', Helvetica, Arial, sans-serif;
}

body {
  padding: 50px;
  font-size: 14px;
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.icon{
	height:24px;
	width:32px;
	padding-left:4px;
	padding-right:4px;
}

.character{
	height:24px;
	width:32px;
}