.uppercase {
	font: 64px 'Caracteres L1', Helvetica, Arial, sans-serif;
}

.lowercase {
	font:24pt 'Proxima Nova', Helvetica, Arial, sans-serif;
}

body {
  padding: 50px;
  font: 14px 'Proxima Nova', Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
