@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/Proxima Nova Reg.woff') format('woff'),
	   url('/fonts/Proxima Nova Reg.svg#font') format('svg'),
	   url('/fonts/Proxima Nova Reg.ttf') format('truetype'),
	   url('/fonts/Proxima Nova Reg.eot'),
	   url('/fonts/Proxima Nova Reg.eot?#iefix') format('embedded-opentype');
}
@font-face {
  font-family: 'Caracteres L1';
  src: url('/fonts/Caracteres-L1.ttf.woff') format('woff'),
       url('/fonts/Caracteres-L1.ttf.svg#Caracteres-L1') format('svg'),
	   url('/fonts/Caracteres-L1.ttf.eot'),
	   url('/fonts/Caracteres-L1.ttf.eot?#iefix') format('embedded-opentype');
       
}

.uppercase {
	font-size: 64px;
	font-family: 'Caracteres L1', Helvetica, Arial, sans-serif;
}

.lowercase {
	font-size:18px;
	font-family:'Proxima Nova', Helvetica, Arial, sans-serif;
}

body {
  padding: 50px;
  color: #eeeeee;
  background-color: #111133;
  font-size: 14px;
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.options_table td {
	text-align: left;
	vertical-align: center;
	border: 0;
}


.bingo_table_cell {
	padding: 2px;
}
.bingo_table_inner_cell {
	background-color: #222222;
	color: #eeeeee;
	text-align: center;
	vertical-align: center;
	padding: 10px;
	border: 1px solid gray;
	border-radius: 2px;
	margin: 1px;
	min-height: 80px;
	height: 100%;
}
.bingo_table_inner_cell:hover {
	background-color: #555555;
	cursor: default;
}
.bingo_label {
	background-color: #444444;
	font-weight: bold;
	border-color: white;
}

.players_table th,
.players_table td {
	text-align: left;
	vertical-align: center;
}

.icon {
	height:24px;
	width:32px;
	padding-left:4px;
	padding-right:4px;
}

.character{
	height:24px;
	width:32px;
}